/*universal css*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	width: 100%;
	outline: none;
	scroll-behavior: smooth;
	background: #f3f1f2;
	font-family: 'Ubuntu', sans-serif;
}

/*Bootstrap modifications*/
button{
	margin: 10px;
}
button a{
	color: #fff;
}
label{
	margin: 10px 0 5px 0;
}
.row{
	margin: 0 !important;
}


/*Loader*/
.load-icon{
	height: 150px;
	width: 150px;
	margin: auto;
}


/* Navbar */
.navbar{
	background: #00AAFF;
	font-family: 'Russo One', sans-serif;
	font-size: 25px;
}
.navbar a{
	font-size: 25px !important;
}


/*landing page*/
.landing-page{
	text-align: center;
	padding: 20px;
}
.landing-page h1{
	font-family: 'Russo One', sans-serif;
}
.description{
	width: 50%;
	margin: auto;
	background: #e3e3e3;
	font-size: 20px;
	padding: 15px;
}


/*registration page*/
.registration, .registry{
	text-align: center;
}
.agreement, #terms{
	margin: 10px 0;
}
.red-text{
	color: red;
}


/*login page*/
.login, .login-form{
	text-align: center;
}
.login-form{
	
}


/*register accordion*/
.accordion__section {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #e3e3e3;
  margin: 0 !important;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #ccc;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 0 !important;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(180deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}





/*Dashboard Main Page*/
.welcome{
	text-align: center;
	margin: 10px 0;
	padding: 10px;
}
.dashboard-container{
	min-height: 1100px;
	width: 90%;
	margin: auto;
	padding: 10px;
}
.jobs-container{
	border: #e3e3e3 solid 3px;
	
}
.search-filters{
	font-size: 18px;
	border: #e3e3e3 solid 2px;
}
.list-item{
	padding: 5px;
}
.list-item-active{
	background: #e3e3e3;
	padding: 5px;
}
.pagination-squares{
	list-style: none;
	display: flex;
	justify-content: center;
}
.page-item{
	
}
.searchbar{
	text-align: center;
	margin: 15px auto;
}


/*single post page*/
.individual-post{
	width: 75%;
	border: #e3e3e3 solid 3px;
	margin: 10px auto;
	text-align: center;
}
.body{
	font-size: 20px;
}
.individual-page{
	text-align: center;
}


/*Admin Data Table*/
th.sortable {
    color: #2196F3;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 16px;
}
.as-react-table .input-group-text:empty{
    display: none;
}
.asrt-page-length{
    display: inline-block;
}
.asrt-page-length .input-group-addon{
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
    background: #fff;
    border: none;
}
.asrt-pagination {
    margin: 0;
}


/*React Quill box*/
.new-post{
	width: 90%;
	margin: auto;
	text-align: center;
}
.quill{
	width: 75%;
	margin: auto;
	border: #e3e3e3 solid 3px;
}
.ql-container{
	min-height: 250px;
}
.new-post select{
	width: 25%;
	margin: 20px auto;
}
.postFormLabel{
	text-align: left;
	font-size: 20px;
}


/*Profile Page*/
.profile-header{
	padding: 15px;
	text-align: center;
}
.profile-info{
	padding: 10px;
	margin: 20px;
}
.profile-about{
	text-align: center;
	margin: 10px;
}
.profile-pic{
	text-align: center;
	margin: 10px;
}
.profile-resume{
	text-align: center;
	margin: 10px;
}
.profile-resume img{
	height: 100px;
	width: 100px;
}
.contact{
	margin: auto;
	width: 50%;
	text-align: center;
}
.contact a{
	font-size: 20px;
}
.profile-pic img{
	height: 250px;
	width: 210px;
	margin: auto;
	border-radius: 50%;
}



/*Profile Editor*/
.profile-editor{
	margin: auto;
	width: 90%;
	text-align: center;
}
.profileFormLabel{
	
}
.pic-editor img{
	height: 100px;
	width: 100px;
	border: #333 solid 2px;
}


/*settings page*/
.settings{
	text-align: center;
}



/*media queries*/
@media(max-width: 575px){
	.search-filters{
		display: flex;
		font-size: 15px;
		flex-wrap: wrap;
	}
	
	
	
}